<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='style/style.css')}}">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>

    {% block navbar %}
    <nav class="navbar">
        <a href="#" class="navbar-brand">AD MAKER &#127909;</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}" class="custom-logout-button">Logout</a>
        {%endif%}
    </nav>    
    
{% endblock navbar %}



    

{% block content %}{% endblock content %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.querySelector(".custom-navbar").style.background = "#f7f7f7"; 
    } else {
        document.querySelector(".custom-navbar").style.background = "#fff"; 
    }
}

</script>
</body>
</html>
